name: Tests

on: [push, pull_request]

jobs:
  tests:
    name: PHP ${{ matrix.php }}, Laravel ${{ matrix.laravel }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.1, 8.2]
        laravel: [9.*, 10.*]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Dependencies
        run: |
          php -v
          composer install --prefer-dist --no-interaction

      - name: Execute Tests
        run: XDEBUG_MODE=coverage ./vendor/bin/phpunit --coverage-text

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}   
